.contactsBlock{
		height: 50vh;
		background-color: lawngreen;
}
.container{
flex-direction: column;
		justify-content: flex-start;
}
.form{
		width: 60%;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 10px;
}
.input{
		width: 100%;
		height: 20px;
}
.textarea{
		width: 100%;
		height: 150px;
		resize: none;
}
.sendBtn{
		margin-top: 25px;
		width: 80px;
}
