.worksBlock{
		min-height: 100vh;
		padding: 20px 0;
		background-color: yellow;
}
.worksContainer{
		flex-direction: column;
		justify-content: flex-start;
}
.works {
		width: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
}